<canvas></canvas>
<br/>
<button {{bind-attr class="boxEnabled:tool-enabled"}} {{action "toggleBoxEnabled"}}>Box Mode</button>
&nbsp;
<button {{bind-attr class="textEnabled:tool-enabled"}} {{action "toggleTextEnabled"}}>Text Mode</button><br/>

