<canvas></canvas>
<br/>
<button {{bind-attr class="boxEnabled:tool-enabled"}} {{action "toggleBoxEnabled"}}>Box Mode</button>
&nbsp;
<button {{bind-attr class="moveEnabled:tool-enabled"}} {{action "toggleMoveEnabled"}}>Movement Mode</button>
<br/>
